body {
  font-family: 'Gaegu', cursive;
  background-color: rgb(99, 136, 94);
  text-align: center;
  padding-bottom: 20px;
}

img {
  border: 0px;
  width: 15%;
  padding: 20px;
  margin-top: 10px;
}

.welcome {
  padding-bottom: 20px;
}

.game {
  padding-bottom: 20px;
}

button {
  font-family: 'Gaegu', cursive;
  margin-top: 20px;
  font-size: 20px;
}

select {
  font-family: 'Gaegu', cursive;
  font-size: 20px;
}

#score {
  font-size: 40px;
}